/* DEFAULT */
body {
	margin: 0 auto;
}

/*USEFULL*/
.text-right {
	text-align: right;
}

/*MAIN*/
.container {
	max-width: 960px;
}

/*HEADER*/
.title {
	font-size: 28px;
	font-family: "Roboto";
	font-weight: 700;
	color: orange;
	border: 1px solid skyblue;
	padding: 15px;
}

/*ALL PAGES*/