<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<div class = 'pane'>
		<div class = 'header'>
			<h1>List of restaurants</h1>
		</div>
		<a href = '{{url_for('newRestaurants') }}'>Create New Restaurant</a>
		<div class = 'flash'>
			{% with messages = get_flashed_messages() %}
      		{% if messages %}
	       	<ul>
        		{% for message in messages %}
            	<li> <strong> {{ message }} </strong> </li>
        		{% endfor %}
        	</ul>
        	{% endif %}
    		{% endwith %}
		</div>
		{% for i in restaurants %}
    	<div class = 'nameAndPrice'>
			<a href='{{url_for('showMenu', restaurant_id = i.id)}}' class = 'name'><p>{{i.name}}</p></a>
		</div>
		<div class = "editdeletepane">
			<a href='{{url_for('editRestaurants', restaurant_id = i.id)}}'>Edit</a>
			<a href='{{url_for('deleteRestaurants', restaurant_id = i.id)}}'>Delete</a>
		</div>
		{% endfor %}
	</div>
</body>
</html>